@import "../../../lib/css/common.wxss";

// mixins
.ellipsis-multiple(@col) { 
    display: -webkit-box;  
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: @col;    
    overflow: hidden;
}

.order-list {
    .item {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding: 30rpx;
        background-color: #fff; 
        border-radius: 16rpx;
        box-shadow: 0 0 16rpx rgba(147, 166, 179, 0.3);
        font-size: 24rpx;
        .iconfont {
            font-size: 24rpx;
        }
        &-image {
            position: relative;
            width: 146rpx;
            height: 146rpx;
            margin-right: 30rpx;
            border-radius: 16rpx;
            box-shadow: 0 0 8rpx rgba(147, 166, 179, 0.3);
            overflow: hidden;
            .img {
                position: relative;
                top: 50%;
                width: 146rpx;
                height: 100%;
                transform: translateY(-50%);
            }
        }
        &-info {
            flex: 1;
            > .div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }
        &-title {
            margin-bottom: 20rpx;
            color: #4454cd;
            font-size: 32rpx;
            font-weight: 500;
            .iconfont {
                font-size: 32rpx;
                font-weight: 700;
            }
        }
        &-date {
            margin-bottom: 10rpx;
            color: #999;
            font-size: 24rpx;
        }
        &-address {
            color: #666;
            font-size: 24rpx;
        }
        &-title,
        &-date,
        &-address {
            > .div {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .iconfont { 
                    margin-right: 10rpx;
                }
                text {
                    flex: 1;
                    text-align: justify;
                }
            }
        }
        &-price {
            text-align: right;
            font-weight: 500;
        }
        &-operator {
            margin-left: 20rpx;
            .label {
                margin-left: auto;
                margin-top: 30rpx;
            }
        }
    }
    .item + .item {
        margin-top: 30rpx;
    }
    p {
        text-align: justify;
    }
}